
/* my Room*/
#th-my-room{
  font-size: 1.25rem !important;
  font-weight: 600;
  
}

/* Unsure*/
.align-right {
  text-align: right;
}


/* Flexbox container for aligning items within a table cell */ 
/*  my room and rooms master?*/
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.availability-cell {
  background-color: lightblue;
  font-size: 1rem;
}
.booked-cell {
  background-color: lightcoral;
}


.button-container {
  position: relative;
  display: inline-block;
}

.cell-create-availability{
  background-color: #bab2b5!important;
}

.btn-link{
  font-size: 1.25rem !important;
  font-weight: 600;
}

#box-rooms-master-forms{
  background-color: #bab2b5!important;
  padding: .5rem;
  border: 1px solid black;
  display: inline-block;
}
#user-title{
  margin-top: 2rem;
}

#assignOwnerForm{
  display: inline-block;
}

.owner-button{
  display:inline-block;
  
}

#btn-preference-grey{
  background-color: rgb(109, 108, 108);

.booked-text{
  margin-left: .9rem;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Optional: Adjust gap between elements */
}

.button-group {
  display: flex;
  align-items: center;
  gap: 10px; /* Optional: Adjust gap between buttons */
}

