#logout-form {
  display: inline;
}
#logout-form button {
  padding: 0;
  margin: 0;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom:25px;
  margin-top: 25px;

}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.align-right {
  text-align: right;
}

.btn {
  padding: 5px 10px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}


/* Flexbox container for aligning items within a table cell */ 
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.availability-cell {
  background-color: lightblue;
}
.booked-cell {
  background-color: lightcoral;
}
.hover-image {
  display: none;
  position: absolute;
  z-index: 10;
  max-width: 600px;  /* Set a maximum width for the image */
  max-height: 600px; /* Set a maximum height for the image */
}

.button-container {
  position: relative;
  display: inline-block;
}

.booking-room-image {
  width: auto; /* Adjust the width as needed */
  height: auto;
  /* min-width: 400px;
  min-height: 400px; */
  object-fit: contain;
}

.modal-lg {
  max-width: 55%;
}
.btn-link{
  padding: 5px 10px;
  background-color: lightblue;
  color: black;
  border: none;
  cursor: pointer;
}