#logout-form {
  display: inline;
}
#logout-form button {
  margin: 0;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom:25px;
  margin-top: 25px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.align-right {
  text-align: right;
}

.btn {
  padding: 5px 10px;
  background-color: #286da6;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ac3b61;
  color: white;
}



/* Flexbox container for aligning items within a table cell */ 
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.availability-cell {
  background-color: lightblue;
}
.booked-cell {
  background-color: lightcoral;
}
.hover-image {
  display: none;
  position: absolute;
  z-index: 10;
  max-width: 600px;  /* Set a maximum width for the image */
  max-height: 600px; /* Set a maximum height for the image */
}

.button-container {
  position: relative;
  display: inline-block;
}

.booking-room-image {
  width: auto; /* Adjust the width as needed */
  height: auto;
  /* min-width: 400px;
  min-height: 400px; */
  object-fit: contain;
}

.modal-lg {
  max-width: 55%;
}
.btn-link{
  padding: 5px 10px;
  background-color: transparent;
  color: #212529;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.btn-link:hover{
  background-color: #ac3b61;
  color: #f1e8e6

}

.offline-room {
  background-color: lightcoral;
}

body{
  /* background-color: #eee2cb!important; */
  background-color: rgba(238, 218, 195, 0.836)  !important;

}
.navbar{
  background-color: #123c69!important;
}

a{
  color:#f1e8e6!important;
}
.navbar-brand{
  color:#f1e8e6 !important;
}

/* Custom striped table colors */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(247, 228, 193) !important; /* Custom light grey for odd rows */
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #bab2b5 !important; /* Custom light blue for even rows */
}

table, th, td {
  border: 1px solid #212529 !important; /* Set the border color */
  border-collapse: collapse; /* Ensure borders don't double up */
}

a:hover{
  color:#f1e8e6!important}



.nav-link:hover{
  background-color: #ac3b61!important;
}

.nav-break:hover{
  color:#f1e8e6!important;
  background-color: #123c69!important;

}

.table-divider{
  background-color: #bab2b5 !important;

}

.offline-table{
  background-color: rgb(247, 228, 193);
}
#nav-user-name{
  color: #f1e8e6!important;
  margin-right: 5px;
}
.dropdown-item{
  color:#212529 !important;
}
.dropdown-item:hover{
background-color: #ac3b61!important;
}

.cell-create-availability{
  background-color: #bab2b5!important;
}
.btn-offline{
  background-color: #ac3b61;
}
.btn-grey{
  padding-left:5px !important ;
  padding-right:5px !important ;

}
.nav-link-admin{
  color: gold!important;
}
.nav-link-admin:hover{
  color: gold!important;

  background-color: #212529!important;
}