
body{
  background-color: rgba(238, 218, 195, 0.479)  !important;
  background-color: rgb(211, 216, 223)  !important;

  font-size: 1rem;
}
h1, h2{
  margin-bottom: 1.5rem;
}
a{
  color:#f1e8e6!important;
}
a:hover{
  color:#f1e8e6!important}

table, th, td {
  border: 1px solid #212529 !important; /* Set the border color */
  border-collapse: collapse; /* Ensure borders don't double up */
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom:25px;
  margin-top: 25px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th{
  background-color: #f1e8e6 ;
  background-color: #c4baba ;

}

.btn {
  padding: 5px 10px;
  background-color: #286da6;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ac3b61;
  color: white;
}
.booking-room-image {
  width: auto; /* Adjust the width as needed */
  height: auto;
  /* min-width: 400px;
  min-height: 400px; */
  object-fit: contain;
}

.modal-lg {
  max-width: 55%;
}
.btn-link{
  padding: 5px 10px;
  background-color: transparent;
  color: #212529;
  border: none;
  cursor: pointer;
  text-decoration: underline;

}

.btn-link:hover{
  background-color: #ac3b61;
  color: #f1e8e6

}

/* Custom striped table colors */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(247, 228, 193) !important; /* Custom light grey for odd rows */
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #f1e8e6 !important; /* Custom light blue for even rows */

}

.table-divider{
  background-color: #bab2b5 !important;

}

.dropdown-item{
  color:#212529 !important;
}
.dropdown-item:hover{
background-color: #ac3b61!important;
}

#logout-form {
  display: inline;
}
#logout-form button {
  margin: 0;
}


.btn-grey{
  padding-left:5px !important ;
  padding-right:5px !important ;

}



.navbar{
  background-color: #123c69!important;
}
.navbar-brand{
  color:#f1e8e6 !important;
}
#nav-user-name{
  color: #f1e8e6!important;
  margin-right: 5px;
}
.nav-link:hover{
  background-color: #ac3b61!important;
}

.nav-break:hover{
  color:#f1e8e6!important;
  background-color: #123c69!important;

}
.nav-link-admin{
  color: gold!important;
}
.nav-link-admin:hover{
  color: gold!important;

  background-color: #212529!important;
}




label, #booking-modal-label {
  font-size: 1.1rem;
  font-weight: 600;
}

#booking-modal-label {
  font-size: x-large;
}


#box-available-rooms-forms{
  background-color: #f1e8e6!important;
  padding: .5rem!important;
  border: 1px solid black!important;
}

.test{
  display:inline-block;
}

