#logout-form {
  display: inline;
}
#logout-form button {
  padding: 0;
  margin: 0;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  
}

.table th {
  background-color: #f2f2f2;
}

.align-right {
  text-align: right;
}

.btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
/* Flexbox container for aligning items within a table cell */ */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

