<!-- rooms_master_occupancy_modals.html -->

<!-- Extend Booking Modal -->
<div class="modal fade" id="extendModal-{{ o_event.id }}" tabindex="-1" role="dialog" aria-labelledby="extendModalLabel-{{ o_event.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="extendForm-{{ o_event.id }}" method="post" action="{% if o_event.id %}{% url 'extend_booking' o_event.id %}{% else %}#{% endif %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="extendModalLabel-{{ o_event.id }}">Extend Booking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="event_id" id="extendEventId-{{ o_event.id }}">
          <div class="form-group">
            <label for="extendStartDate-{{ o_event.id }}">Start Date</label>
            <input type="date" class="form-control extend-start-date" id="extendStartDate-{{ o_event.id }}" name="start_date">
          </div>
          <div class="form-group">
            <label for="extendEndDate-{{ o_event.id }}">End Date</label>
            <input type="date" class="form-control extend-end-date" id="extendEndDate-{{ o_event.id }}" name="end_date">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Shorten Booking Modal -->
<div class="modal fade" id="shortenModal-{{ o_event.id }}" tabindex="-1" role="dialog" aria-labelledby="shortenModalLabel-{{ o_event.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="shortenForm-{{ o_event.id }}" method="post" action="{% if o_event.id %}{% url 'shorten_booking' o_event.id %}{% else %}#{% endif %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="shortenModalLabel-{{ o_event.id }}">Shorten Booking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="event_id" id="shortenEventId-{{ o_event.id }}">
          <div class="form-group">
            <label for="shortenStartDate-{{ o_event.id }}">Start Date</label>
            <input type="date" class="form-control shorten-start-date" id="shortenStartDate-{{ o_event.id }}" name="start_date">
          </div>
          <div class="form-group">
            <label for="shortenEndDate-{{ o_event.id }}">End Date</label>
            <input type="date" class="form-control shorten-end-date" id="shortenEndDate-{{ o_event.id }}" name="end_date">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Booking Modal -->
<div class="modal fade" id="deleteModal-{{ o_event.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-{{ o_event.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="deleteEventForm-{{ o_event.id }}" method="post" action="{% if o_event.id %}{% url 'delete_event' o_event.id %}{% else %}#{% endif %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel-{{ o_event.id }}">Delete Event?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this event?</p>
          <p>--{{o_event.guest_name}} staying in {{o_event.room_info}}--</p>
          <p>--Start: {{o_event.start}}--</p>
          <p>--End: {{o_event.end}}--</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
