<!-- all_guests.html -->

{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h1>Scheduled Bookings</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Guest Name</th>
                <th>Host Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Building / Section / Room #</th>
                <th>Owner</th>
                {% if request.user.is_superuser%}
                <th></th>
                {%endif%}
            </tr>
        </thead>
        <tbody>
            {% if occupancy_events %}
                {% for event in occupancy_events %}
                <tr>
                    <td>{{ event.guest_name }}</td>
                    <td>{{ event.creator }}</td>
                    <td>{{ event.start_date|date:"F j" }}</td>
                    <td>{{ event.end_date|date:"F j" }}</td>
                    <td><button class="btn-link"
                      data-toggle="modal" 
                      data-target="#floorplanModal" 
                      onclick="showFloorplanModal('{{ event.room_image_url }}' , '{{event.room_name}}')"

                    >{{event.room_name}}</button>
                    </td>
                    <td>{{event.room_owner}}</td>

                    {% if request.user.is_superuser%}
                <td>
                    <!-- This line below has red squiggles but appears to work properly -->
                    <button class="btn" onclick="window.location.href='{% url 'rooms_master_with_room' event.room_id %}'">Link to Rooms Master</button>
          </td>
                  
                  
                  
                  
                {%endif%}
                  
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No guests currently booked.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{%include "floorplan_img_modal.html"%}


<script>

  // Function to show the floorplan modal with the correct image
  function showFloorplanModal(imageUrl, roomName) {
   document.getElementById('floorplanImage').src = imageUrl;
   document.getElementById('floorplanModalLabel').innerText = roomName;
   console.log("roomname" + roomName)
   $('#floorplanModal').modal('show');
 }</script>
{% endblock %}