<!-- all_guests.html -->

{% extends "base_generic.html" %} {% block content %}

    <div class="container">
        <h1>All Scheduled Bookings</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Guest Name</th>
                    <th>Host Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
             
                </tr>
            </thead>
            <tbody>
                {% if not occupation_events%}
                <tr>
                  <td>
                    <p> No guests currently booked.<p>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                </tr>

                {%else%}
                {% for event in occupation_events %}
                <tr>
                    <td>{{ event.guest_name }}</td>
                    <td>{{ event.creator }}</td>
                    <td>{{ event.start|date:"m-d" }}</td>
                    <td>{{ event.end|date:"m-d" }}</td>
                </tr>
                {% endfor %}
                {%endif%}
            </tbody>
        </table>
    </div>
    {% endblock %}
