{% extends "base_generic.html" %} {% block content %}
<h1>Available Guest Rooms</h1>

<div id = "box-available-rooms-forms">
  
<form method="post" action="{% url 'available_rooms' %}" id="dateRangeForm">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-4">
      <label class = "available-rooms-input-label" for="start_date">Start Date (@ Noon)</label>
      <input
        type="date"
        class="form-control no-cursor"
        id="start_date"
        name="start_date"
        value="{{ start_date }}"
      />
      {% if form.start_date.errors or form.end_date.errors or form.guest_type.errors or form.non_field_errors %}
          <div class="text-danger">
              <p>Valid inputs are required for these fields.</p>


          </div>
        {% endif %}

    </div>
    <div class="form-group col-md-4">
      <label for="end_date">End Date (@ Noon)</label>
      <input
        type="date"
        class="form-control no-cursor"
        id="end_date"
        name="end_date"
        value="{{ end_date }}"
      />
    </div>
    <div class="form-group col-md-4">
      <label for="guest_type">Guest Type</label>
      <select class="form-control" id="guestType" name="guest_type">
        {% for value, display in form.fields.guest_type.choices %}
            <option value="{{ value }}" {% if form.guest_type.value|stringformat:"s" == value|stringformat:"s" %}selected{% endif %}>{{ display }}</option>
        {% endfor %}
    </select>
  </div>
  </div>
</form>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Building / Section / Room #</th>
      <th scope="col">Owner</th>
      <th scope="col">Available Until Noon on...</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% if not available_rooms_info%}
    <tr>
      <td>
        <p>No rooms available.</p>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    {%endif%}
    {% for room, availability_date, room_image_url,room_name in available_rooms_info %}
    <tr>
      
      <td>
        <button class="btn-link"
                      data-toggle="modal" 
                      data-target="#floorplanModal" 
                      onclick="showFloorplanModal('{{ room_image_url }}' , '{{room_name}}')"
                    >{{room_name}}</button>
        
      </td>
      <td>
        {% if room.owner %} {{ room.owner.name }} {% else %} Unassigned
        {%endif%}
      </td>
      <td>
        {% if availability_date %}
        {{ availability_date|date:"F j, Y" }}
        {%else%}
        No Further Availability {% endif %}
      </td>
      <td>
      {% if user.is_authenticated%}



        <button class= "btn"
          type="submit"
          onclick="showBookingForm(event, '{{ room.id }}', '{{ room.number }}', '{{ room.section.building.name }}',
          '{{ room.section.name }}', '{{ start_date }}', '{{ end_date }}',
          '{{ room_image_url }}', {{guest_type}}
          )"
        >
          Book Room
        </button>
      
      {%endif%}
        
  
        
      </td>
        <!-- </form> -->
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% if form_errors %}
        <ul>
          {% for field, errors in form_errors.items %}
          <li>{{ field }}: {{ errors|join:", " }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endif %}
      </td>
      
    </tr>







    {% endfor %}
    {%include "floorplan_img_modal.html"%}
    {%include "occupancy_modals.html"%}

  </tbody>
</table>

    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#floorplanModal').on('shown.bs.modal', function () {
        console.log('Image src:', $('#floorplanModal img').attr('src'));
    });
});
  // gathering date information
  var startDateInput = document.getElementById("start_date");
  var endDateInput = document.getElementById("end_date");

  var startDateObj = new Date(startDateInput.value);
  var endDateObj = new Date(endDateInput.value);
  var guestTypeInput = document.getElementById("guestType")
  var previousStartDate = startDateInput.value;
  var previousEndDate = endDateInput.value;

  guestTypeInput.addEventListener("change", function(){
    validateAndSubmitDate();
  });

  // listener for start date form
  startDateInput.addEventListener("change", function () {
    if (startDateInput.value >= endDateInput.value) {
      var startDateObj = new Date(startDateInput.value);
      var endDateObj = new Date(startDateObj);
      endDateObj.setDate(startDateObj.getDate() + 1); // Increment end date by one day
      endDateInput.value = endDateObj.toISOString().split("T")[0];
    }
    if (!validateAndSubmitDate()) {
      startDateInput.value = previousStartDate;
      endDateInput.value = previousEndDate;
    } else {
      previousStartDate = startDateInput.value;
    }
  });

  // listener for end date form
  endDateInput.addEventListener("change", function () {
    if (!validateAndSubmitDate()) {
      endDateInput.value = previousEndDate;
    } else {
      previousEndDate = endDateInput.value;

    }
  });

  function validateAndSubmitDate() {
    var startDate = startDateInput.value;
    var endDate = endDateInput.value;  

    var now = new Date();
    // Create a new date object for the limit date, starting with today
    var limitDateObj = new Date(now);

// Add 3 months to the limit date
limitDateObj.setMonth(limitDateObj.getMonth() + 3);

// Adjust for potential month overflow (if adding 3 months to a date exceeds the month's days, it will correct itself)
if (limitDateObj.getDate() < now.getDate()) {
    limitDateObj.setDate(0); // Set to last day of the previous month
}

// Print the limitDateObj to verify
//console.log("Limit Date Object: ", limitDateObj);

    var yesterday = now.setDate(now.getDate() - 1);

    if (startDate && endDate) {
      var startDateObj = new Date(startDate + "T23:59:59"); // Set time to end of the day
      var endDateObj = new Date(endDate + "T11:59:59"); // Set time to just before noon

// Validation for start date
if (isNaN(startDateObj.getTime())) {
  alert("Invalid start date.");
  event.preventDefault();
  return false;
}
      if (startDateObj < yesterday) {
        alert("Start date cannot be that far in the past.");

        return false;
      } else if (startDateObj > endDateObj) {
        alert("Invalid date range.");
        return false;
      } else if(endDateObj > limitDateObj){
        alert("You cannot schedule more than 3 months out.")
        return false;
      } else {
        document.getElementById("dateRangeForm").submit();
        return true;
      }
    }
    return true;
  }

  function showBookingForm(
    event,
    roomId,
    roomNumber,
    buildingName,
    sectionName,
    startDate,
    endDate,
    roomImageUrl,
    guestType
  ) {
    event.preventDefault();
  
    // Set the form values
    $("#bookingStartDateHidden").val(startDate);
    $("#bookingEndDateHidden").val(endDate);
    $("#bookingRoomId").val(roomId);
    $("#bookingRoomNumber").text(roomNumber);
    $("#bookingBuildingName").text(buildingName);
    $("#bookingSectionName").text(sectionName);
    $("#bookingStartDate").text(startDateObj.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }));
    $("#bookingEndDate").text(endDateObj.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }));
    $("bookingGuestType").val(guestType);
    // Set the room image
    if (roomImageUrl) {
      $("#bookingRoomImage").attr("src", roomImageUrl).show();
    } else {
      $("#bookingRoomImage").hide();
    }
    // Show the modal
    $("#bookingModal").modal("show");
  }

  function submitBookingForm() {
    let guestName = document.getElementById("guestName").value.trim()
   
      // Simulate form submission and failure
      // Check if the value is empty or whitespace
      if (guestName === "") {
        alert("Guest Name cannot be empty or just whitespace.");
        return;
    }
     else {
      alert("Submitted booking.")
     }
    $("#bookingForm").submit();
    }
  




 // Function to show the floorplan modal with the correct image
 function showFloorplanModal(imageUrl, roomName) {
  document.getElementById('floorplanImage').src = imageUrl;
  document.getElementById('floorplanModalLabel').innerText = roomName;
  console.log("roomname" + roomName)
  $('#floorplanModal').modal('show');
}

  // Prevent manual typing in the input fields
  startDateInput.addEventListener('keydown', function(event) {
    event.preventDefault();
  });

  endDateInput.addEventListener('keydown', function(event) {
    event.preventDefault();
  });
</script>

{% endblock %}
