{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h1>Buildings and Sections Toggle</h1>
    <p>* this is for taking large portions of buildings offline for large swathes of time</p>
    <p> *taking sections offline will delete all availabilities and bookings associated with rooms in that section</p>
    <p> *the system will not attempt to automatically reassign existing bookings from this page </p>
    <p> *rooms will not be stripped of their owners by this function</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Building Name</th>
                <th>Section Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for building in buildings %}
                <tr>
                    <td rowspan="{{ building.sections.count|add:'1' }}">{{ building.name }}</td>
                </tr>
                {% for section in building.sections.all %}
                <tr>
                    <td>{{ section.name }}</td>
                    <td> 
                      <button type="button" class="btn {% if section.is_offline %}btn-danger{% else %}btn-success{% endif %}"
                      data-toggle="modal"
                      data-target="#toggleOfflineModal"
                      data-building-name = "{{building.name}}"
                      data-section-id="{{ section.id }}"
                      data-section-name="{{ section.name }}"
                      data-section-image-url="{% if section.image %}{{ section.image.url }}{% else %}#{% endif %}">
                                        {% if section.is_offline %}Go Online{% else %}Go Offline{% endif %}
              </button>
                    </td>
                </tr>
                {% endfor %}


            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="toggleOfflineModal" tabindex="-1" role="dialog" aria-labelledby="toggleOfflineModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="toggleOfflineModalLabel">Toggle Section Offline Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">

          <div class="col-md-4">

        Are you sure you want to toggle the offline status of <span id="sectionName"></span>?
      </div>


      <!-- Image Column -->
      <div class="col-md-8">
        <img id="sectionImage" src="" alt="Section Image" class="img-fluid booking-section-image" />
      </div>


    </div>
  </div>
      <div class="modal-footer">
        <form id="toggleOfflineForm" method="post" action="{% url 'toggle_offline_section' %}">
          {% csrf_token %}
          <input type="hidden" name="section_id" id="sectionId">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      $('#toggleOfflineModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget); // Button that triggered the modal
          var sectionId = button.data('section-id'); // Extract info from data-* attributes
          var sectionName = button.data('section-name');
          var sectionImageUrl = button.data('section-image-url'); // Extract image URL
          var buildingName = button.data('building-name');
  
          var modal = $(this);
          modal.find('#sectionId').val(sectionId);
          modal.find('#sectionName').text( buildingName + " " + sectionName);
          modal.find('#sectionImage').attr('src', sectionImageUrl); // Set image source
      });
  });
  </script>
  {% endblock %}