{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h1>Buildings and Sections Toggle</h1>
    <p> *taking sections offline will delete all events associated with rooms in that section</p>
    <p> *the system will not attempt to automatically reassign existing bookings from this page </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Building Name</th>
                <th>Section Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for building in buildings %}
                <tr>
                    <td rowspan="{{ building.sections.count|add:'1' }}">{{ building.name }}</td>
                </tr>
                {% for section in building.sections.all %}
                <tr>
                    <td>{{ section.name }}</td>
                    <td> <form method="post" action="{% url 'buildings_offline_toggle' %}">
                      {% csrf_token %}
                      <input type="hidden" name="section_id" value="{{ section.id }}">
                      <button type="submit" class="btn btn-primary">{{ section.is_offline|yesno:"Offline,Online" }}</button>
                  </form>
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
