<!-- catalog/templates/catalog/delete_event.html -->
{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h1>Conflict Notice</h1>
    <p>The room is unavailable for the full date range you've chosen.</p>
    <p> Your booking is now from {{start}} to {{end}}</p>
    <p> You may want to try booking another room on the Available Rooms page for the missing days.</p>

        {%if request.user.is_superuser%}
       <a href="{% url 'rooms_master_with_room' redirect_room_id %}" class="btn btn-secondary">Back</a>
        {%else%}
        <a href="{% url 'my_guests' %}" class="btn btn-secondary">Back</a>
          {%endif%}
</div>
{% endblock %}