{% extends "base_generic.html" %} {% block content %}
<h1>Available Rooms</h1>

<form method="post" action="{% url 'home' %}" id="dateRangeForm">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="start_date">Start Date (@ Noon)</label>
      <input
        type="date"
        class="form-control"
        id="start_date"
        name="start_date"
        value="{{ start_date }}"
      />
    </div>
    <div class="form-group col-md-4">
      <label for="end_date">End Date (@ Noon)</label>
      <input
        type="date"
        class="form-control"
        id="end_date"
        name="end_date"
        value="{{ end_date }}"
      />
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Building / Section</th>
      <th scope="col">Owner</th>
      <th scope="col">Available Until Noon on...</th>
    </tr>
  </thead>
  <tbody>
    {% for room, availability_date in available_rooms_info %}
    <tr>
      <td>{{ room.section.building.name }} / {{ room.section.name }}</td>
      <td>
        {% if room.owner %} {{ room.owner.name }} {% else %} Unassigned
        {%endif%}
      </td>
      <td>
        {% if availability_date %} {{ availability_date|date:"m-d-Y" }} {%else%}
        No Further Availability {% endif %}
      </td>
      {% if user.is_authenticated %}

      <td>
        
        <button
          type="submit"
          onclick="showBookingForm(event, '{{ room.id }}', '{{ room.number }}', '{{ room.section.building.name }}',
          '{{ room.section.name }}', '{{ start_date }}', '{{ end_date }}',
          '{{ room.image.url }}'
          )"
        >
          Book Room
        </button>
        {%endif%}
        <!-- </form> -->
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% if form_errors %}
        <ul>
          {% for field, errors in form_errors.items %}
          <li>{{ field }}: {{ errors|join:", " }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% comment %} //////////////////////////////////////////////////////////////////////////// {% endcomment %}
<!-- Booking Modal -->
<div
  class="modal fade"
  id="bookingModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bookingModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="bookingForm" method="post" action="{% url 'create_booking' %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="bookingModalLabel">Confirm Booking</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <!-- Form Column -->
            <div class="col-md-6">
              <input type="hidden" name="room_id" id="bookingRoomId" />

              <input
                type="hidden"
                name="start_date"
                id="bookingStartDateHidden"
              />
              <input type="hidden" name="end_date" id="bookingEndDateHidden" />

              <div class="form-group">
                <label for="guestName">Guest Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="guestName"
                  name="guest_name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="hostName">Host Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="hostName"
                  name="host_name"
                  value = "{{user}}"
                  readonly
                  required
                />
              </div>
              <p>Room Number: <span id="bookingRoomNumber"></span></p>
              <p>Building: <span id="bookingBuildingName"></span></p>
              <p>Section: <span id="bookingSectionName"></span></p>
              <p>Start Date: <span id="bookingStartDate"></span></p>
              <p>End Date: <span id="bookingEndDate"></span></p>
            </div>
            <!-- Image Column -->

            <div class="col-md-6">
              <!-- Image Column -->
              <img
                id="bookingRoomImage"
                src=""
                alt="Room Image"
                class="img-fluid"
                style="max-width: 200px; max-height: 400px"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            onclick="submitBookingForm()"
          >
            Confirm Booking
          </button>
        </div>
      </form>
{% comment %} //////////////////////////////////////////////////////////////////////////// {% endcomment %}
    </div>
  </div>
</div>

<script>
  // gathering date information
  var startDateInput = document.getElementById("start_date");
  var endDateInput = document.getElementById("end_date");
  var previousStartDate = startDateInput.value;
  var previousEndDate = endDateInput.value;

  // listener for start date form
  startDateInput.addEventListener("change", function () {
    if (startDateInput.value >= endDateInput.value) {
      var startDateObj = new Date(startDateInput.value);
      var endDateObj = new Date(startDateObj);
      endDateObj.setDate(startDateObj.getDate() + 1); // Increment end date by one day
      endDateInput.value = endDateObj.toISOString().split("T")[0];
    }
    if (!validateAndSubmitDate()) {
      startDateInput.value = previousStartDate;
    } else {
      previousStartDate = startDateInput.value;
    }
  });

  // listener for end date form
  endDateInput.addEventListener("change", function () {
    if (!validateAndSubmitDate()) {
      endDateInput.value = previousEndDate;
    } else {
      previousEndDate = endDateInput.value;
    }
  });

  function validateAndSubmitDate() {
    var startDate = startDateInput.value;
    var endDate = endDateInput.value;
    var now = new Date();

    if (startDate && endDate) {
      var startDateObj = new Date(startDate + "T23:59:59"); // Set time to end of the day
      var endDateObj = new Date(endDate + "T11:59:59"); // Set time to just before noon

      if (startDateObj < now) {
        alert("Start date cannot be in the past.");
        return false;
      } else if (startDateObj > endDateObj) {
        alert("Invalid date range.");
        return false;
      } else {
        document.getElementById("dateRangeForm").submit();
        return true;
      }
    }
    return true;
  }

  function showBookingForm(
    event,
    roomId,
    roomNumber,
    buildingName,
    sectionName,
    startDate,
    endDate,
    roomImageUrl
  ) {
    event.preventDefault();
  
    // Set the form values
    $("#bookingStartDateHidden").val(startDate);
    $("#bookingEndDateHidden").val(endDate);
    $("#bookingRoomId").val(roomId);
    $("#bookingRoomNumber").text(roomNumber);
    $("#bookingBuildingName").text(buildingName);
    $("#bookingSectionName").text(sectionName);
    $("#bookingStartDate").text(startDate);
    $("#bookingEndDate").text(endDate);

    // Set the room image
    if (roomImageUrl) {
      $("#bookingRoomImage").attr("src", roomImageUrl).show();
    } else {
      $("#bookingRoomImage").hide();
    }
    // Show the modal
    $("#bookingModal").modal("show");
  }

  function submitBookingForm() {
    $("#bookingForm").submit();
  }
</script>
{% endblock %}
