{% extends "base_generic.html" %}
{% load static %}  <!-- Add this line -->
{% block content %}
<div class="container">
    <h1>{{ request.user }}'s Guests</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Guest Name</th>
                <th>Start Date</th>
                <th>End Date</th>
      
                <th>Building / Section / Room #</th>
                <th>Owner</th>
                <th>Available Until</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if not occupancy_events %}
                <tr>
                    <td colspan="6">No guests currently booked.</td>
                </tr>
            {% else %}
                {% for o_event in occupancy_events %}

                <tr>
                    <td>{{ o_event.guest_name }}</td>
                    <td>{{ o_event.start_date|date:"F d" }}</td>
                    <td>{{ o_event.end_date|date:"F d" }}</td>
                    <td>
                        <button class="btn-link"
                                data-toggle="modal" 
                                data-target="#floorplanModal" 
                                data-image-url="{{ o_event.image_url }}"
                                onclick="showFloorplanModal('{{ o_event.room_image_url }}' , '{{o_event.room_name}}')">
                                {{ o_event.room_name }}
                        </button>
                    </td>
                    <td>{{o_event.room_owner}}</td>
                    <td>{{o_event.last_available|date:"F d, Y"}}</td>
                    <td>
                      <button class="btn btn-primary"
                              data-toggle="modal" 
                              data-target="#extend-booking-modal" 
                              data-id="{{ o_event.id }}" 
                              data-original-start="{{ o_event.start_date|date:'Y-m-d' }}" 
                              data-original-end="{{ o_event.end_date|date:'Y-m-d' }}"
                              data-image-url="{{ o_event.image_url }}">
                          Extend
                      </button>
                      

                      <button class="btn btn-primary" 
                              data-toggle="modal" 
                              data-target="#shorten-booking-modal" 
                              data-id="{{ o_event.id }}" 
                              data-original-start="{{ o_event.start_date|date:'Y-m-d' }}" 
                              data-original-end="{{ o_event.end_date|date:'Y-m-d' }}"
                              data-image-url="{{ o_event.image_url }}">
                          Shorten
                      </button>

                    <button class="btn btn-danger" 
                            data-toggle="modal" 
                            data-target="#delete-booking-modal" 
                            data-id="{{ o_event.id }}" 
                            data-original-start="{{ o_event.start_date|date:'Y-m-d' }}" 
                            data-original-end="{{ o_event.end_date|date:'Y-m-d' }}"
                            data-image-url="{{ o_event.image_url }}">
                        Delete
                    </button>

                    </td>
                </tr>


{% endfor %}
{%include "floorplan_img_modal.html"%}

{% endif %}
</tbody>
</table>
</div>
{%include "booking_modals.html"%}

<script>    var sectionId = "{{ section_id|default:'' }}";</script>
<script src="{% static 'catalog/js/my_guests.js' %}"></script>


{% endblock %}