
{% extends "base_generic.html" %}

{%load static%}
{% load custom_filters %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'catalog/css/my_room.css' %}">
{% endblock %}

{% block content %}
<h1>{{room.owner}}'s Room{%if children%}s{%endif%}</h1>



<table class="table">
  <tbody>
    <tr>
      <th id = "th-my-room"><div class="flex-container">
        <button
        class="btn-link"
        onclick="showFloorplanModal('{{ room_image_url }}' , '{{room_name}}')"
      >{{ room.owner}}'s Room
    </button>

        <form id="preferenceForm-{{room_id}}" method="post" action="{% url 'edit_guest_preferences' room_id room.owner.id %}">
          {% csrf_token %}
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="preferencesDropdownButton-{{room_id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if room.owner.preference %}
                      {{ room.owner.get_preference_display }}
                  {% else %}
                      Select Preference
                  {% endif %}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{room_id}}">
                  {% for value, display in room.owner.Preference.choices %}
                      <a class="dropdown-item" href="#" data-target="#preferenceForm-{{ room_id }}" data-value="{{ value }}">{{ display }}</a>
                  {% endfor %}
              </div>
          </div>
          <input type="hidden" name="preference" id="preferenceInput-{{room_id}}">
      </form>
      </div>
      </th>
    </tr>
    
    {% for a_event in availability_events %}
      <tr>
          <td class = "availability-cell">

          <div class="flex-container">

          <span><em>Made Available:</em> {{ a_event.start|split_at_comma }} - {{ a_event.end|split_at_comma }}</span>
          <div>
          <button class = "btn-grey" type = "submit"
          onclick = "showEditAvailabilityForm('{{a_event.id}}', '{{a_event.start}}', '{{a_event.end}}', '{{request.user.id}}')">Edit</button>
        
        <button class = "btn-grey" type = "submit"
          onclick = "showDeleteAvailabilityForm('{{a_event.id}}','{{a_event.start}}', '{{a_event.end}}')">Delete</button>
        </div>
      
      </div>
      </td>
      </tr>

      {% for o_event in occupancy_events %}
        {% if o_event.start >= a_event.start and o_event.end <= a_event.end %}
          <tr>
            <td class = "booked-cell" style="padding-left: 50px;" >
              <span class ="booked-text">
              <em>Booked:</em> {{ o_event.start|split_at_comma }} - {{ o_event.end|split_at_comma }} --- {{ o_event.title|slice:"9:" }}
              </span>
            </td>
          </tr>
          
          

        {% endif %}
        {% endfor %}
        

    {% endfor %}
    
      <tr>
        <td class = "cell-create-availability" >

          {% if room.is_offline%}
          <p>Room Is Offline</p>
          {%else%}
          <button class = "btn-grey" type = "submit" onclick = "showCreateAvailabilityForm(event, '{{ room.id }}', '{{ room.owner.name }}')">+ Create new availability</button>
        {% endif%}

      </td>
      </tr>
  </tbody>
</table>

  

    {% for child, events in children_events.items %}
    <table class="table">

    <tbody>
      <tr>
        <th ><div class="flex-container">
          <button
          class="btn-link"
          onclick="showFloorplanModal('{{ events.room_image_url }}', '{{events.room_name}}' )"
        >{{ child.name}}'s Room
      </button>
          <form id="preferenceForm-{{child.id}}" method="post" action="{% url 'edit_guest_preferences' room_id child.id %}">
            {% csrf_token %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="preferencesDropdownButton-{{child.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if child.preference %}
                        {{ child.get_preference_display }}
                    {% else %}
                        Select Preference
                    {% endif %}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{child.id}}">
                    {% for value, display in child.Preference.choices %}
                        <a class="dropdown-item" href="#" data-target="#preferenceForm-{{ child.id }}" data-value="{{ value }}">{{ display }}</a>
                    {% endfor %}
                </div>
            </div>
            <input type="hidden" name="preference" id="preferenceInput-{{child.id}}">
        </form>

        </div>
      </th>
      </tr>
      {% for a_event in events.availability %}
        <tr >
          <td class = "availability-cell" ><div class="flex-container">
            <span><em>Made Available:</em> {{ a_event.start|split_at_comma }} - {{ a_event.end|split_at_comma }}</span>
            <div>
              <button class = "btn-grey" type = "submit"
              onclick = "showEditAvailabilityForm('{{a_event.id}}', '{{a_event.start}}', '{{a_event.end}}')">Edit</button>
            
            <button class = "btn-grey" type = "submit"
              onclick = "showDeleteAvailabilityForm('{{a_event.id}}','{{a_event.start}}', '{{a_event.end}}')">Delete</button>
            </div>
          </div></td>
        </tr>
      

      {% for o_event in events.occupancy %}
        {% if o_event.start >= a_event.start and o_event.end <= a_event.end %}
          <tr>
              <td class = "booked-cell booked-text" style="padding-left: 50px;" >
                <span class ="booked-text">
                  <em>Booked:</em> [{{ o_event.start|split_at_comma }} - {{ o_event.end|split_at_comma }}] --- {{ o_event.title|slice:"9:" }}
                </span>
                </td>
            
          </tr>
          {%endif%}
          {%endfor%}
      {% endfor %}
      
      <tr>
        <td class= "cell-create-availability">
          
          {% if room.is_offline%}
          <p>Room Is Offline</p>
          {%else%}
          <button class = "btn-grey" type = "submit" onclick = "showCreateAvailabilityForm(event, '{{ child.room.id }}', '{{child.name}}')">+ Create new availability</button>
        {% endif%}
        
        </td>
      </tr>
  </tbody>
</table>
{% endfor %}

{% include "availability_modals.html" %}
{%include "floorplan_img_modal.html"%}


<script>
/////////////////////////////////CREATE AVAILABILITY///////////////////////////////////////////////////////////////////////
  function showCreateAvailabilityForm(event, roomId, owner) {
    event.preventDefault();
    // Set the form values
    document.getElementById('createAvailabilityRoomId').value = roomId;
    document.getElementById('createAvailabilityPersonName').innerText = 'Create Availability for ' + owner + '\'s Room';
    
    // Show the modal
    $('#createAvailabilityModal').modal('show');
  }

  function submitAvailabilityForm() {
    $("#createAvailabilityForm").submit();
  }

////////////////////////////////////CREATE -- LISTENERS AND VALIDATION//////////////////////////////////////////////////////////////////////
  // gathering date information
  var startDateInput = document.getElementById("startDate");
  var endDateInput = document.getElementById("endDate");
  var previousStartDate = startDateInput.value;
  var previousEndDate = endDateInput.value;

  // listener for start date form
  startDateInput.addEventListener("change", function () {
    if (startDateInput.value >= endDateInput.value) {
      var startDateObj = new Date(startDateInput.value);
      var endDateObj = new Date(startDateObj);
      endDateObj.setDate(startDateObj.getDate() + 1); // Increment end date by one day
      endDateInput.value = endDateObj.toISOString().split("T")[0];
    }
    if (!validateDate()) {
      
    // Parse the date strings into Date objects
    var startDateObj = new Date();
    var endDateObj = new Date()

        startDateInput.value = startDateObj.toISOString().split("T")[0];

        endDateObj.setDate(startDateObj.getDate() + 1); // Increment end date by one day
        endDateInput.value = endDateObj.toISOString().split("T")[0];    }
    else {
    previousEndDate = endDateInput.value;
  }
  });

   // listener for end date form
endDateInput.addEventListener("change", function () {
  if (!validateDate()) {
   

    // Parse the date strings into Date objects
    var startDateObj = new Date();
    var endDateObj = new Date()

        startDateInput.value = startDateObj.toISOString().split("T")[0];

        endDateObj.setDate(startDateObj.getDate() + 1); // Increment end date by one day
        endDateInput.value = endDateObj.toISOString().split("T")[0];    }
    else {
    previousEndDate = endDateInput.value;
  }
});
  
  function validateDate() {
    var startDate = startDateInput.value;
    var endDate = endDateInput.value;
    var now = new Date();

    if (startDate && endDate) {

      // late time so if you're leaving at 5pm today and creating an availability for the night, it will be accepted
      var startDateObj = new Date(startDate + "T23:59"); //
      var endDateObj = new Date(endDate + "T11:59"); // Set time to just before noon
    
      if (startDateObj < now) {
        alert("Start date cannot be in the past.");
        return false;
      } else if (startDateObj > endDateObj) {
        alert("Invalid date range.");
        return false;
      } else {
        return true;
      }
      }
      // ?
      alert("not start and end")
      return false;
  }
   //////////////////////////////////////EDIT AVAILABILITY///////////////////////////////////////////////////////////////////////
  function showEditAvailabilityForm(eventId, start, end) {
    // Prevent default action if needed (e.g., if inside a form submission handler)
    // event.preventDefault();
    
    // Use moment.js to parse the custom date format
  const startDate = moment(start, 'MMMM D, YYYY, h:mm a').format('YYYY-MM-DD');
  const endDate = moment(end, 'MMMM D, YYYY, h:mm a').format('YYYY-MM-DD');
    
    console.log(eventId)
    console.log(start)
    console.log(end)
    
    // Set the form values
    $("#editStartDate").val(startDate);
    $("#editEndDate").val(endDate);
    $("#eventId").val(eventId);

  
    // Show the modal
    $('#editAvailabilityModal').modal('show');
  }
  function submitEditAvailabilityForm(){
    $("#editAvailabilityForm").submit();
  }

  ////////////////////////////////////EDIT -- LISTENERS AND VALIDATION//////////////////////////////////////////////////////////////////////
    // gathering date information
  var editStartDateInput = document.getElementById("editStartDate");
  var editEndDateInput = document.getElementById("editEndDate");
  var previousEditStartDate = editStartDateInput.value;
  var previousEditEndDate = editEndDateInput.value;

   // listener for start date form
  editStartDateInput.addEventListener("change", function () {
    if (editStartDateInput.value >= editEndDateInput.value) {
      var editStartDateObj = new Date(editStartDateInput.value);
      var editEndDateObj = new Date(editStartDateObj);
      editEndDateObj.setDate(editStartDateObj.getDate() + 1); // Increment end date by one day
      editEndDateInput.value = editEndDateObj.toISOString().split("T")[0];
    }
    if (!validateEditDate()) {
      editEndDateInput.value = "";  
    } else {
      previousEditStartDate = editStartDateInput.value;
    }
  });

   // listener for end date form
  editEndDateInput.addEventListener("change", function () {
    if (!validateEditDate()) {
      editEndDateInput.value = "";  
      
    } else {
      previousEditEndDate = editEndDateInput.value;
    }
  });
  
  function validateEditDate() {
    console.log('validating... start / end')
    var startDate = editStartDateInput.value;
    var endDate = editEndDateInput.value;
    var now = new Date();

    if (startDate && endDate) {
       var startDateObj = new Date(startDate + "T12:01"); // Set time to end of the day
      console.log(startDateObj)
       var endDateObj = new Date(endDate + "T11:59"); // Set time to just before noon
      console.log(endDateObj)

    if (startDateObj > endDateObj) {
        alert("Invalid date range.");
        return false;
      } else {
        return true;
      }
    }
    return true;
  }

   //////////////////////////////////////////////////////////////////////////////////////////////////////////




  $(document).ready(function() {
    $('.dropdown-item').click(function(e) {
        e.preventDefault();
        alert("Submitting your preference. \nNote: Any change to your preferences will not affect guests already scheduled for your room.");

        var preference = $(this).data('value');
        var formId = $(this).data('target');
        $(formId + ' input[name="preference"]').val(preference);
        $(formId).submit();
    });

});


function showDeleteAvailabilityForm(eventId, start, end) {
  event.preventDefault();
  // Set the form values
   // Use moment.js to parse the custom date format
   const startDate = moment(start, 'MMMM D, YYYY, h:mm a').format('YYYY-MM-DD');
   const endDate = moment(end, 'MMMM D, YYYY, h:mm a').format('YYYY-MM-DD');
     
   console.log(eventId)
   console.log(start)
   console.log(end)
     
     // Set the form values
     $("#deleteStartDate").val(startDate);
     $("#deleteEndDate").val(endDate);
     $("#deleteEventId").val(eventId);
  // Show the modal
  $('#deleteAvailabilityModal').modal('show');
}

function submitAvailabilityForm() {
  $("#deleteAvailabilityForm").submit();
}





$(document).ready(function() {
  $('#floorplanModal').on('shown.bs.modal', function () {
      console.log('Image src:', $('#floorplanModal img').attr('src'));
  });
});


 // Function to show the floorplan modal with the correct image
  function showFloorplanModal(imageUrl, roomName) {
  document.getElementById('floorplanImage').src = imageUrl;
  document.getElementById('floorplanModalLabel').innerText = roomName;
  console.log("roomname" + roomName)
  $('#floorplanModal').modal('show');
}

</script>

{% endblock %}
