{% extends "base_generic.html" %} {% block content %}
<h1>{{room.owner}}'s Room{%if children%}s{%endif%}</h1>
{%load static%}

{% load custom_filters %}
<table class="table">
  <tbody>
    <tr>
      <th><div class="flex-container">
        <span>{{ room.owner }}'s Room</span>
        <button>Preferences</button>
      </div></th>
    </tr>
    
    {% for a_event in availability_events %}
      <tr>
        <td ><div class="flex-container">
          <span>Available: {{ a_event.start|split_at_comma }} - {{ a_event.end|split_at_comma }}</span>
          <button>Edit</button>
        </div></td>
      </tr>

      {% for o_event in occupancy_events %}
        {% if o_event.start >= a_event.start and o_event.end <= a_event.end %}
          <tr>
            <td style="padding-left: 50px;" >Booked: [{{ o_event.start|split_at_comma }} - {{ o_event.end|split_at_comma }}] --- {{ o_event.title|slice:"9:" }}</td>
          </tr>
          
          

        {% endif %}
        {% endfor %}
        {% if found_occupancy is False %}
            <tr>
          <td style="padding-left: 50px;" >Not Booked</td>
        </tr> 
        {%endif%}

    {% endfor %}
    
      <tr>
        <td ><button type = "submit" onclick = "showAvailabilityForm(event, '{{ room.id }}', '{{ room.owner.name }}')">+ Create new availability</button></td>
      </tr>
  </tbody>
</table>
   
  

    {% for child, events in children_events.items %}
    <table class="table">

    <tbody>
      <tr>
        <th ><div class="flex-container">
          <span>{{ child.name }}'s Room</span>
          <button>Preferences</button>
        </div></th>
      </tr>
      {% for a_event in events.availability %}
        <tr>
          <td ><div class="flex-container">
            <span>Available: {{ a_event.start|split_at_comma }} - {{ a_event.end|split_at_comma }}</span>
            <button >Edit</button>
          </div></td>
        </tr>
      

      {% for o_event in events.occupancy %}
        {% if o_event.start >= a_event.start and o_event.end <= a_event.end %}
          <tr>
              <td style="padding-left: 50px;" >Booked: [{{ o_event.start|split_at_comma }} - {{ o_event.end|split_at_comma }}] --- {{ o_event.title|slice:"9:" }}</td>
            
          </tr>
          {%endif%}
          {%endfor%}
      {% endfor %}
      
      <tr>
        <td ><button type = "submit" onclick = "showAvailabilityForm(event, '{{ child.room.id }}', '{{child.name}}')">+ Create new availability</button></td>
      </tr>
  </tbody>
</table>
{% endfor %}

{% comment %} //////////////////////////////////////////////////////////////////////////// {% endcomment %}
<!-- Booking Modal -->
<div class="modal fade" id="availabilityModal" tabindex="-1" role="dialog" aria-labelledby="availabilityModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="availabilityForm" method="post" action="{% url 'create_availability' %}"> 
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id ="availabilityPersonName"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <!-- Form Column -->
            <div class="col-md-6">
              <input type="hidden" name="room_id" id="availabilityRoomId" />
              <label for="startDate">Start Date:</label>
              <input type="date" name="start_date" id="startDate" class="form-control" />
              <label for="endDate">End Date:</label>
              <input type="date" name="end_date" id="endDate" class="form-control" />
            </div> 
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Confirm Availability</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function showAvailabilityForm(event, roomId, name) {
    event.preventDefault();
    // Set the form values
    document.getElementById('availabilityRoomId').value = roomId;
    document.getElementById('availabilityPersonName').innerText = 'Create Availability for ' + name + '\'s Room';
    
    // Show the modal
    $('#availabilityModal').modal('show');
  }
  function submitAvailabilityForm() {
    $("#availabilityForm").submit();
  }
</script>

{% endblock %}
